<div class="container emp-profile">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-head">
                <h2 id="heading">
                    Ajukan Dokumen
                </h2>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <hr>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <form id="signForm">
            <div class="col-md-12">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6">
                            <label for="dokumen">Document</label>
                            <div class="input-group mb-3">
                                <select class="form-select" id="dokumen" required>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6">
                            <label for="username">Penerima</label>
                            <div class="d-flex justify-content-between">
                                <select class="form-select" id="username" required>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col-md-6">
                            <label for="jabatan">Jabatan</label>
                            <input class="form-control" type="text" name="jabatan" id="jabatan">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger">Save</button>
                        <a href="/dokumen/index" class="btn btn-secondary">Kembali</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    readDocuments();
    readUser();

    async function readDocuments() {
        try {
            const token = sessionStorage.getItem("token");
            if (!token) {
                window.location.href = "/login";
                return;
            }
            const myHeaders = new Headers();
            myHeaders.append("authorization", "Bearer " + token);

            const requestOptions = {
                method: 'GET',
                headers: myHeaders,
                redirect: 'follow'
            };

            const response = await fetch('http://tugasweb.eastus2.cloudapp.azure.com:3000/document/index', requestOptions);
            const result = await response.json();

            console.log(result);

            const dokumenSelect = document.getElementById('dokumen');

            // Clear existing options
            dokumenSelect.innerHTML = '';

            const nullOption = document.createElement('option');
            nullOption.value = '';
            nullOption.textContent = 'Pilih Dokumen...';
            dokumenSelect.appendChild(nullOption);

            result.forEach((dokumen) => {
                const option = document.createElement('option');
                option.value = dokumen.document_id;
                option.textContent = dokumen.filename;
                dokumenSelect.appendChild(option);
            });
        } catch (error) {
            console.log('Error:', error);
        }
    }

    async function readUser() {
        try {
            const token = sessionStorage.getItem("token");
            if (!token) {
                window.location.href = "/login";
                return;
            }
            const myHeaders = new Headers();
            myHeaders.append("authorization", "Bearer " + token);

            const requestOptions = {
                method: 'GET',
                headers: myHeaders,
                redirect: 'follow'
            };

            const response = await fetch("http://tugasweb.eastus2.cloudapp.azure.com:3000/user/index", requestOptions);
            const data = await response.json();

            console.log(data);

            const selectUser = document.getElementById("username");

            selectUser.innerHTML = '';

            const basic = document.createElement("option")
            basic.value = '';
            basic.textContent = "Pilih Penerima ..."
            selectUser.appendChild(basic)

            data.forEach((user) => {
                const optionUser = document.createElement("option")
                optionUser.value = user.user_id
                optionUser.textContent = user.email + ` | <` + user.username + `>`
                selectUser.appendChild(optionUser)
            });
        } catch (error) {
            console.log('Error:', error);
        }
    }



    const signForm = document.getElementById("signForm");

    signForm.addEventListener("submit", function (event) {
        event.preventDefault();

        const token = sessionStorage.getItem("token");
        if (!token) {
            window.location.href = "/login";
            return;
        }

        const myHeaders = new Headers();
        myHeaders.append("Authorization", "Bearer " + token);
        myHeaders.append("Content-Type", "application/json");

        const user_id = document.getElementById("username").value;
        const document_id = document.getElementById("dokumen").value;
        const jabatan = document.getElementById("jabatan").value;

     

        var raw = JSON.stringify({
            "user_id": user_id,
            "document_id": document_id,
            "jabatan": jabatan
        });

        var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: raw,
            redirect: 'follow'
        };

        fetch("http://tugasweb.eastus2.cloudapp.azure.com:3000/signature/create", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error))
    });
</script>