<section class="content">
  <h1>dokumen List</h1>
  <div class="py-3">
    <a class="btn btn-primary" href="/dokumen/create">Add Doc</a>
  </div>
  <table class="table table-hover">
    <tr>
      <th>No</th>
      <th>nama</th>
      <th>nama file</th>
      <th>description</th>
      <th>Action</th>
    </tr>
   
  </table>
</section>