<form id="userForm" enctype="multipart/form-data">
    <div class="col-md-12">
        <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            </div>

            <div class="row my-3">
                <div class="col-md-6">
                    <label for="password">Password Baru</label>
                    <div class="d-flex justify-content-between">
                        <input class="form-control col-md-12" type="password" name="password" id="password" value="">
                    </div>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-danger">Simpan</button>
                <a href="/profile" class="btn btn-secondary">Kembali</a>
            </div>
        </div>
    </div>
</form>

<script>
    const token = sessionStorage.getItem("token");

    if (!token) {
        window.location.href = "/login"; // Redirect to the login page if token doesn't exist
    } else {
        const userForm = document.getElementById("userForm");
        const myHeaders = new Headers();
        myHeaders.append("Authorization", "Bearer " + token); // Menambahkan token ke header permintaan

        var user_id = window.location.pathname.split("/")[2]; // Dapatkan user_id dari URL
        console.log(user_id)
        userForm.addEventListener("submit", function (event) {
            event.preventDefault();

            // Ambil data dari form
            const formData = new FormData();
            const password = document.getElementById("password")
            formData.append("password", password.value)
            console.log(password.value)
            // Konfigurasi permintaan
            const requestOptions = {
                method: 'POST',
                headers: myHeaders,
                body: formData,
                redirect: 'follow'
            };

            // Kirim permintaan ke server
            fetch(`http://tugasweb.eastus2.cloudapp.azure.com:3000/change/${user_id}/update`, requestOptions)
                .then(response => response.json())
                .then(data => {
                    if (data && data.message === "data berhasil di ubah") {
                        alert("Password berhasil diubah");
                        window.location.href = "/profile";
                    } else {
                        alert("Gagal mengubah password");
                        console.log(data);
                    }
                })

        });
    }
</script>