

      <div class="margin-h">
        <div class="display">
          <div class="margin-v" id="ttd1">
            <p class="text-center"id="value">0</p>
            <p class="text-center"id="mark2">Menunggu Ditandatangani</p>
          </div>

          <div class="margin-v" id="ttd1">
            <p  class="text-center" id="value">0</p>
            <p  class="text-center" id="mark2">Sudah Ditandatangani</p>
          </div>
        </div>
  </div>


    <form class="margin-h" action="index.html" method="post">
      <div id="doc">


      <div class="text-center" id="icon">
      </div>
      <div class="text-center" id="icon-mark">
          <span>letakkan dokumen di sini untuk ditanda tangani</span>
      </div>
      <div class="text-center" id="upload">
            <button class="btn btn-secondary" type="file" name="button">Upoload</button>
      </div>
    </div>



    </form>
