
    <div class="">
        <span id="send">Send for signature</span>
    </div>
<div id="margin-input">
    <span class="margin-items" id="select">Select documents to be signed</span>
</div>
<div  class="margin-items" id="kotak">
    <input type="file" name="" />
</div>

<hr>
  <!-- <span id="butt">
    <a href="document.html" id="">Next</a>
  </span> -->


  <a href="sendsign.html"class="btn btn-primary">Next</a>
  <div>

  </div>
  <div class="arrow-up"></div>

