
    <div class="">
        <h1 id="send">Send for signature</h1 >
    </div>


    <div class="margin-h">
        <h4 class="margin-items" id="a">Add Signers</h4>
    </div>

    <div class="display" id="bg-sendsign">

    <div class="margin-h">
      <div class="">
          <label for="email" >Name</label>
      </div>
      <div class="">
        <input type="email" name="email" id="i" />
      </div>
    </div>
    <div class="margin-h">
      <div class="">
            <label for="email" id="e">Email Address</label>
      </div>
      <div class="">
            <input type="email" name="email" id="ii" />
      </div>

    </div>
    </div>
    <div class="margin-h">
      <a class="btn btn-secondary" id="bb" href="">Add another Signer</a>
    </div>

  <hr>
  <div class="text-right">
  <a href="/sendsign" class="btn btn-secondary">back</a>
  </div>


