

      <div class="margin-h">
        <table>
          <th><a class="margin-h" id="heading"href="/template">Create Template</th>
          <th><a class="margin-h" id="heading">Template View</a></th>
        </table>
      </div>

    <hr>
    <div class="margin-h">
          <span id="template">Templates</span>
    </div>
    <div class="margin-h">
          <span id="results">1-10 of 0 results</span>
    </div>
    <div id="doc"class="doc">
          <span id="none">You don’t have any templates yet.</span>
    </div>



