
    <div class="heading2">
      <table>
        <tr>
              <th>  <a id="heading">Create Template</a></th>
              <th>  <a id="heading" href="/tview">Template View</a></th>
        </tr>

      </table>
    </div>
    <div class="">

    </div>

    <hr>
<div class="">
  <div class="">
      <label for="name"id="name">Template Name</label>
  </div>
  <div class="">
      <input id="inputname"type="text"  name="name"  id=""  placeholder="A template name to identify your template."/>
  </div>
</div>
<div class="">
  <div class="">
      <label for="desc"id="optional">Optional Message</label>
  </div>
  <div class="">
      <input  id="inputopti"  type="text"  name="desc"  id=""  placeholder="Add an optional message for all future documents created using this template"/>
  </div>
</div>
<div class="">
  <div class="">
    <label id="up">Upload File</label>
  </div>
  <div class="">
    <span id="fil">File Uploader</span>
  </div>
  <div class="">
    <input id="inputfi" type="file" name="" id="" />
  </div>

</div>




