.body {
  width: 100%;
  height: 100%;
  /* background: linear-gradient(180deg, #ffffff 0%, #237aac 100%); */
  overflow-x: hidden;
  /* background: hsl(219, 100%, 86%); */
  /* background: #4a5d5c; */
  background: #a76f6f;
}

#margin-form {
  margin: 100px 45px 45px 45px;
}

#margin-input {
  margin: 100px 0px 0px 0px;
}
.margin-items {
  margin: 10px 0px 10px 0px;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 0px 0 0px;
  gap: 20px;
  transition: all 0.1s ease-in-out;
}

.margin-items :hover {
  border-left: 5px solid #b1384c;
  /* background-color: #f6768b; */
  background-color: #5e6464;
  cursor: pointer;
}

.log123 {
  align-items: center;
  color: black;
}

.pala {
  /* color: hsl(218, 81%, 75%); */
  color: white;
  width: 100%;
  height: 42px;
  padding-left: 30px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
}

.label {
  font-family: "Montserrat", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  font-style: normal;
  line-height: 18px;
  /* color: hsl(218, 81%, 75%); */
  color: white;
  /* color: #455959; */
  /* color: #184240; */
  font-size: 20px;
  /* font-family: Montserrat; */
  font-weight: 550;
  margin: 10px 0px 10px 0px;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 30px 0 20px;
  gap: 20px;
  text-decoration: none;
}

.img {
  width: 100px;
  height: 100px;
  /* margin: 50px 0px 100px 0px; */
  background-color: grey;
}

.nav-img {
  height: 30px;
}

.dashboard {
  padding: 20px 20px 20px 40px;
  width: 300px;
  height: 982px;

  background-color: #435b66;
  box-shadow: 1px 1px 10px #a76f6f;
  /* box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825); */
  /* border-color: rgb(53, 50, 107); */
  /* background-color: #7537f1; */
}

.margin-h {
  margin: 20px 20px 20px 20px;
}
#margin-items {
  margin: 10px 0px 10px 0px;
}
.login {
  position: absolute;
  width: 552px;
  height: 774px;
  left: 888px;

  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

a {
  color: Black;
  text-decoration: none;
}
.input {
  width: 462px;
  height: 58px;
  left: 933px;
  top: 424px;

  border-color: white;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.button-auth {
  width: 299px;
  height: 61px;

  color: white;
  border-color: white;
  margin-top: 70px;
  background-color: #006796;
  border-radius: 25px;
}

#heading {
  width: 84px;
  height: 42px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  color: white;
}

#heading2 {
  width: 150px;
  height: 42px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  /* identical to box height */

  color: #344350;
}

.content {
  width: 100%;
  margin: 30px;
  padding: 10px;
}

.announcement-container {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgb(188, 188, 188);
  padding: 0px 20px 20px 20px;
}

.display {
  display: flex;
}
.navbar {
  padding: 100px 40px 100px 40px;
  width: 100%;
  height: 60px;
  background-color: #435b66;
  /* background-color: #55556b; */
  color: white;
  /* box-shadow: 1px 1px 15px #f6768b; */
  box-shadow: 1px 1px 8px #a76f6f;
  /* box-shadow: 1px 1px 15px hsl(219, 100%, 72%); */
}

hr {
  color: black;
  background-color: black;
}

#ttd1 {
  width: 100%;
  height: 100px;

  padding: 10px;
  background: #2996d3;
  border-radius: 10px;
}

#doc {
  width: 800px;
  height: 50px;

  mix-blend-mode: normal;
  border: 3px dashed #d9d9d9;
  border-radius: 10px;
  padding: 277px 308px 234px 308px;
}
#icon-mark {
}
.value {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  /* identical to box height */

  color: #ffffff;
}
.mark2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  width: 100%;
  color: #ffffff;
}
.margin-v {
  margin: 20px 20px 20px;
}

.margin-tabel {
  margin: 0px 30px 0px 30px;
}

#pdl {
  padding-left: 10px;
}

.flash-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #f8f8f8;
  color: #333;
  font-size: 14px;
  text-align: center;
  z-index: 9999;
}

.sign11 {
  /* padding-left: 30px; */
  padding-top: 10px;
}
